a {
    color: purple;
}

.green-color {
    color: green;
}

ul ul {
    list-style-type: none;
}

.square {
    list-style-type: square;
}

.mark {
    list-style-image: url("./img/mark.svg");
}

.square a {
    text-decoration: none;
}

.numbered {
    list-style-type: decimal; /* Нумерація для списку */
    padding-left: 55px; /* Відступ для тексту */

}

.numbered li {
    padding-left: 0; /* Відступ для тексту, щоб не перекривати нумерацію */
}



